extends layouts/main-layout.pug

block content
    if !profileUser
        span.errorMessage User not Found
    else 
        script.
            var profileUserId = '!{profileUser._id}';
            var selectedTab = '!{selectedTab}';
        


        .tabsContainer
            +createTab("Following",`/profile/${profileUser.username}`,selectedTab != "following")
            +createTab("Followers",`/profile/${profileUser.username}/replies`,selectedTab == "followers")

        .resultsContainer


block scripts 
    script(src="/js/followersAndFollowing.js") 
     